/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    /* --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%); */
    /* --input-color: hsl(var(--hue-color), 70%, 96%); */
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    /* --scroll-bar-color: #;
    --scroll-thumb-color: #; */
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    /* --normal-font-size: 5rem; */
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    /* --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem; */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    /* --z-modal: 1000; */
}


/* Font size for large devices */


/* @media screen and (min-width: 968px) {
     :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
} */


/*========== Variables Dark theme ==========*/


/* HSL color mode */

body.dark-theme {
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    /* --text-color-light: #707070; */
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
    /* --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%); */
}


/*========== Button Dark/Light ==========*/


/* .nav__btns {
    display: flex;
    align-items: center;
} */


/*==================== BASE ====================*/

*,
::before,
::after {
    box-sizing: border-box;
}


/* * {
    padding: 0;
    margin: 0;
} */

html {
    scroll-behavior: smooth;
}


/* body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
} */


/*========== Button Dark/Light ==========*/

.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--title-color);
}


/*========== Font size variable to scale cv ==========*/

body.scale-cv {
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .8751rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}


/*========== Generate pdf button ==========*/

.generate-pdf {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--title-color);
}


/*========== Classes modified to reduce size and print on A4 sheet  ==========*/

.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .bg-container {
    max-width: 595px;
    min-height: 842px;
}

.scale-cv .section {
    padding: 1.5rem 0 .80rem;
}

.scale-cv .section__title {
    margin-bottom: .75rem;
}

.scale-cv .section__title-right {
    margin-bottom: .75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right {
    padding: 0 1rem;
}

.scale-cv .home__img {
    width: 90px;
    height: 90px;
}

.scale-cv .home__container {
    gap: 1.5rem;
}

.scale-cv .home__information {
    font-size: var(--smaller-font-size);
}

.scale-cv .home__data {
    gap: .25rem;
}

.scale-cv .home__address,
.scale-cv .social__container {
    gap: .5rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icons {
    font-size: 1rem;
}

.scale-cv .section {
    padding-top: 1.18rem;
    padding-bottom: .35rem;
    /* padding: 1rem .5rem; */
}

.scale-cv .profile__description {
    font-size: var(--small-font-size);
}

.scale-cv .education__container,
.scale-cv .experence__container,
.scale-cv .certificate__container {
    gap: .5rem;
}

.scale-cv .education__time,
.scale-cv .experence__time {
    padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experence__rounder {
    width: 11px;
    height: 11px;
    margin-top: .8rem;
}

.scale-cv .education__line,
.scale-cv .experence__line {
    width: 1px;
    height: 105%;
    transform: translate(5px, 0);
}


/* .scale-cv .education__data .education__studies {
    font-size: var(--smaller-font-size);
} */


/* .scale-cv .experence__title,
.scale-cv .education__title {
    top: -1rem;
    border: 0;
    background: red;
    padding-top: 0;
} */

.scale-cv .education__data,
.scale-cv .experence__data {
    gap: .2rem;
}

.scale-cv .education__title,
.scale-cv .education__studies,
.scale-cv .education__year {
    font-size: var(--smaller-font-size);
}

.scale-cv .certificate__icon {
    margin-top: .2rem;
}

.scale-cv .skills__name {
    margin-bottom: var(--mb-1);
    font-size: var(--smaller-font-size);
}


/* .scale-cv .skills__circle {
    margin-right: .35rem;
} */

.scale-cv .interests__container {
    column-gap: 2.5rem;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/

.section {
    padding: 1.5rem 0;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

.section__title-right {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}


/* .section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
} */


/*==================== LAYOUT ====================*/

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bg-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}


/*==================== NAV ====================*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px) {
    .nav__menu {
        position: fixed;
        /* bottom: var(--header-height); */
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        transition: .3s;
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
    }
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}


/* show menu */

.show-menu {
    bottom: var(--header-height);
}


/* Active menu link */

.active-link {
    color: var(--first-color);
}


/* Change background header */

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}


/*==================== HOME ====================*/

.home {
    position: relative;
}

.home__container {
    gap: 3rem;
}

.home__data {
    gap: .5rem;
    text-align: center;
}

.home__img {
    width: 120px;
    height: 120px;
    /* border-radius: 50%; */
    border-radius: 10%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--h1-font-size);
}

.home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
}

.home__address {
    gap: 1rem;
}

.home__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home__icon {
    font-size: 1.2rem;
    margin-right: .25rem;
}

.home__button-movil {
    display: inline-block;
    border: 2px solid var(--text-color-light);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
    margin-top: var(--mb-3);
}

.home__button-movil:hover {
    background-color: var(--text-color);
    color: var(--body-color);
}


/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--white {
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #fff;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}


/*==================== ABOUT ====================*/

.social__container {
    grid-template-columns: max-content;
    gap: 1rem;
}

.social__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social__link:hove {
    color: var(--text-color-light);
}

.social__icon {
    font-size: 1.2rem;
    margin-right: .25rem;
}


/*==================== PROFILE ====================*/

.profile__description {
    text-align: justify;
}


/*==================== EDUCATION AND EXPERENCE ====================*/

.education__content,
.experence__content {
    display: flex;
}

.education__time,
.experence__time {
    padding-right: 1rem;
}

.education__rounder,
.experence__rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    /* margin-top: .25rem; */
    margin-top: .75rem;
}

.education__line,
.experence__line {
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education__data,
.experence__data {
    gap: .5rem;
}

.education__title,
.experence__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0;
    margin-top: .5rem;
}

.education__studies,
.experence__company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.experence__description {
    text-align: justify;
}

.education__year {
    font-size: var(--small-font-size);
}


/*==================== SKILLS AND LANGUAGE ====================*/

.skills__content,
.languages__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.skills__name,
.languages__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills__circle,
.languages__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: .75rem;
}


/*==================== CERTIFICATES ====================*/

.certificate__content {
    display: flex;
}

.certificate__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.certificate__description {
    text-align: justify;
    left: 4rem;
}

.certificate__icon {
    position: relative;
    margin-top: .15rem;
    font-size: .9rem;
    margin-right: .25rem;
    color: var(--text-color);
}


/*==================== REFERECES ====================*/

.references__container {
    text-align: left;
}

.references__content {
    justify-content: center;
    /* text-align: left; */
    gap: .25rem;
}

.references__subtitle {
    color: var(--text-color-light);
}

.references__subtitle,
.references__contact {
    font-size: var(--smaller-font-size);
}

.references__contact {
    margin-top: 0;
}

.reference_title {
    font-size: var(--h3-font-size);
}


/*==================== INTERESTS ====================*/

.interests__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__icons {
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL TOP ==========*/

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    /* bottom: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop__icon {
    font-size: 1.2rem;
    color: var(--text-color);
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}


/* Show scroll */

.show-scroll {
    visibility: visible;
    bottom: 5rem;
}


/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}


/*==================== MEDIA QUERIES ====================*/


/* For small devices */

@media screen and (max-width:320px) {
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}


/* Classes modified for large screen size */

@media screen and (min-width:968px) {
    body {
        margin: 3rem 0;
    }
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
    .l-header,
    .scrolltop {
        display: none;
    }
    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }
    .resume__left {
        background-color: var(--container-color-alt);
    }
    .resume__left,
    .resume__right {
        padding: 0 1.5rem;
    }
    .generate-pdf {
        display: inline-block;
    }
    /* .section__title-left {
        text-align: center;
    } */
    .section__title-right {
        text-align: initial;
    }
    .home__container {
        gap: 1.5rem;
    }
    .home__button-movil {
        display: none;
    }
    .references__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .languages__content {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }
    .interests__container {
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }
    .profile__description {
        text-align: justify;
    }
}


/* For medium devices */

@media screen and (min-width:568px) {}

@media screen and (min-width:768px) {}


/* For large devices */

@media screen and (min-width:1024px) {}

@media screen and (min-width:1255px) {}